
.footer{
    padding: 10px;
    position: fixed;
    bottom: 0px;
    width: 100%;
  }
  
  .asado{
    text-align: center ;
    margin: auto;
  }
  
  .botonnn{
    margin-left: 150px;
  }
  
  .bi {
    font-size: 2em;
    padding-right: 5px;
    margin-bottom: auto;
  }

  .logo{
   margin-bottom: 0% ;
  }