h5{
    
    color: black;

}

p{
    
    color: black;

}

h6{
    text-align: center;
    color: white;

}


.footer{
    padding: 10px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.asado{
    text-align: center ;
    margin: auto;
}

.perfil{
    width:240px;
    height:250px;
    border-radius:150px;
}

h1{
    text-align: left;


}

